In [12]:
import pandas as pd

df = pd.read_csv('Ward-AC-LS-Mapping.csv')
df.columns

Index(['Ward No', 'Ward Name', 'AC#', 'Assembly constituency', 'LS#',
       'MP Constituency', 'BBMP Zone Name', 'BBMP Division',
       'BBMP Sub Division'],
      dtype='object')

In [7]:
lookup_df = df[['AC#', 'LS#']].drop_duplicates('AC#', keep='last')
lookup_df

     AC#  LS#
3    150   23
10   152   24
45   158   24
58   160   24
70   155   24
75   157   24
77   159   24
86   151   24
101  156   24
107  165   25
109  162   25
112  161   24
116  163   25
120  164   25
130  166   26
140  168   25
149  174   25
152  169   25
157  167   26
159  154   25
163  170   26
175  172   26
178  173   26
182  171   26
192  175   26
196  176   23
197  153   24

In [14]:
#dict(zip(lookup_df['AC#'], lookup_df['LS#']))
dict(zip(df['AC#'], df['LS#']))

{150: 23,
 152: 24,
 155: 24,
 154: 25,
 158: 24,
 160: 24,
 151: 24,
 159: 24,
 157: 24,
 153: 24,
 156: 24,
 161: 24,
 174: 25,
 162: 25,
 164: 25,
 163: 25,
 165: 25,
 166: 26,
 169: 25,
 167: 26,
 168: 25,
 172: 26,
 170: 26,
 171: 26,
 173: 26,
 175: 26,
 176: 23}

In [10]:
ac2ls = dict(zip(lookup_df['AC#'], lookup_df['LS#']))

In [11]:
ls_name_of = {
            '23': 'Bangalore Rural',
            '24': 'Bangalore North',
            '25': 'Bangalore Central',
            '26': 'Bangalore South',
            '27': 'Chikkabalapura',
        }

In [13]:
dict(zip(df['AC#'], df['Assembly constituency']))

{150: 'Yelahanka',
 152: 'Byatarayanapura',
 155: 'Dasarahalli',
 154: 'Rajarajeswari Nagar',
 158: 'Hebbal',
 160: 'Sarvagna Nagar',
 151: 'K.R. Puram',
 159: 'Pulakeshi Nagar (SC)',
 157: 'Malleshwaram',
 153: 'Yeshwantpura',
 156: 'Mahalakshmi Layout',
 161: 'C.V. Ramannagar (SC)',
 174: 'Mahadevapura',
 162: 'Shivaji Nagar',
 164: 'Gandhi Nagar',
 163: 'Shanthi Nagar',
 165: 'Rajaji Nagar',
 166: 'Govindaraja Nagar',
 169: 'Chickpet',
 167: 'ViJayanagar',
 168: 'Chamarajpet',
 172: 'B.T.M. Layout',
 170: 'Basavanagudi',
 171: 'Padmanaba Nagar',
 173: 'Jayanagar',
 175: 'Bommanahalli',
 176: 'Bangalore South'}

In [34]:
ac_no = 175
ac_name_of = dict(zip(df['AC#'], df['Assembly constituency']))
ls = ac2ls[ac_no]
dir_name = f'{ls} - {ls_name_of[str(ls)]}/{ac_no} - {ac_name_of[ac_no]}' 
dir_name

'26 - Bangalore South/175 - Bommanahalli'

In [35]:
import os
if not os.path.exists(dir_name):
    os.makedirs(dir_name)

In [38]:
filename = '26 - Bangalore South/175 - Bommanahalli/31_164_1.pdf'
os.path.basename(filename)
dest_file = f'{dir_name}/{os.path.basename(filename)}'
dest_file

'26 - Bangalore South/175 - Bommanahalli/31_164_1.pdf'